<h1><i class="fa fa-shopping-cart"></i></h1>
<section>
    <div class="item">
        <img src="{{image_id}}">
        <p> {{description }}</p>
        <h6> {{price}}</h6>
        <span></span>
        <button>Add-cart</button>
    </div>
    <div class="item">
        <img src="{{image_id}}">
        <p> {{description }}</p>
        <h6> {{price}}</h6>
        <span></span>
        <button>Add-cart</button>
    </div>

    <div class="item">
        <img src="{{image_id}}">
        <p> {{description }}</p>
        <h6> {{price}}</h6>
        <span></span>
        <button>Add-cart</button>
    </div>

    <div class="item">
        <img src="{{image_id}}">
        <p> {{description }}</p>
        <h6> {{price}}</h6>
        <span></span>
        <button>Add-cart</button>
    </div>
    <div class="item">
        <img src="{{image_id}}">
        <p> {{description }}</p>
        <h6> {{price}}</h6>
        <span></span>
        <button>Add-cart</button>
    </div>
</section>

{{!-- this is where the items from the cart will show up --}}
<div class="select">

</div>

<script type="text/javascript" src="./javascript/menu.js"></script>