<section>
    {{#each restaurants}}
        <h4> {{name}}</h4>
        <p> Address: {{address}}</p>
        <p> Phone Number: {{phone_number}}</p>
        <p> Open: {{open_at}}</p>
        <p> Close: {{close_at}}</p>
        <span></span>
        <button>View Menu</button>
    </div>
    {{/each}}
</section>